body{
  background-image: url('../images/background.gif');
  background-size: cover;
  
  
  
  height: 100vh;
  padding:0;
  margin:0;
}
h2{
  text-align: center;
}


.logo {
  margin: 50px auto;
  text-align: center;
  
}
.logo a {
  text-decoration: none;
  -webkit-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -moz-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -ms-transform: perspective(8em) rotateX(11deg) scale(1.2);
  -o-transform: perspective(8em) rotateX(11deg) scale(1.2);
  transform: perspective(8em) rotateX(11deg) scale(1.2);
  text-shadow: 0 -1px 15px black, 0 1px 0 #7f6303, 0 2px 0 #846703, 0 0px 0 #896b03, 0 1px 0 #8e6f03, 0 2px 0 #937203, 0 2px 30px rgba(252, 223, 92, 0.6);

  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  font-family: 'Exo 2';
  line-height: 0.8;
  color: #fbd62a;
  text-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9), 0 1px 0 #7f6303, 0 3px 0 #846703, 0 5px 0 #896b03, 0 7px 0 #8e6f03, 0 9px 0 #937203, 0 6px 50px rgba(252, 223, 92, 0.8);
  position: relative;
  left:25%;
}
.logo a:first-line {
  font-size: 0.8em;
}


@import url(https://fonts.googleapis.com/css?family=Bevan);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);


h1 {
  font-family: "Bevan";
  font-size: 100px;
  font-weight: 400;
  line-height: 130px;
  color: rgba(255, 255, 0, 0.925);
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  margin: 100px auto 0 30%;
  text-shadow: 
    0px 0px 0 rgb(-14,144,41),-1px 1px 0 rgb(-19,139,36),-2px 2px 0 rgb(-23,135,32),-3px 3px 0 rgb(-27,131,28),-4px 4px 0 rgb(-32,126,23),-5px 5px 0 rgb(-36,122,19),-6px 6px 0 rgb(-40,118,15),-7px 7px 0 rgb(-45,113,10),-8px 8px 0 rgb(-49,109,6),-9px 9px 0 rgb(-53,105,2),-10px 10px 0 rgb(-58,100,-3),-11px 11px 0 rgb(-62,96,-7),-12px 12px 0 rgb(-67,91,-12),-13px 13px 0 rgb(-71,87,-16),-14px 14px 0 rgb(-75,83,-20),-15px 15px 0 rgb(-80,78,-25),-16px 16px 0 rgb(-84,74,-29),-17px 17px 0 rgb(-88,70,-33),-18px 18px 0 rgb(-93,65,-38),-19px 19px 0 rgb(-97,61,-42), -20px 20px 0 rgb(-101,57,-46);   
}
h1 span { position: relative }
h1 span:first-child { 
  z-index: 15;
}





       .container {
color:rgb(246, 250, 9);
        width: 100%;
  height: 600px;
        
         margin:10px 15% 10px 15%;

         /* height: 500px; */
       }
   
       #container-row{
         margin-top:50px;
         margin-bottom:20px;
         height:100%
       }
       
#magic-num{
  width: 50%;
}
 